{% extends 'base.html' %}

{% load static %}

{% block title %}{{ product.name }}{% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Categories</a></li>
    <li class="breadcrumb-item"><a href="{% url 'product_list' product.category.pk%}">{{ product.category }}</a></li>
    <li class="breadcrumb-item active">{{ prodname }}</li>
{% endblock %}


{% block content %}
<div class="card mb-2">
    <div class="card-body p-3">
        <div class="row">
            <div class="col-6"> 
                <img src="{{product.image.url}}" style   alt=""  class='image1'>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <div class="col-10">
                        <strong class="text-muted">{{ product.name }}</strong>                                 
                    </div>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <div class="col-10">
                        <small class="text-muted">{{ product.description }}</small>
                    </div>
                    <div class="col-10">
                        <p> </p>
                        <p> </p>
                        <p> </p>
                        <p> </p>
                        <p> </p>
                        <p> </p>
                        <strong><h3>{{ product.price }}$</h3></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}